<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets/piment.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Douala</h5>
                        <p class="card-text">Située près du Bonamoussadi</p>
                    </div>
                </div>

            </div>
            <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="assets/seau.jpeg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Yaoundé</h5>
                                <p class="card-text">Située près du Bonamoussadi</p>
                            </div>
                        </div>
        
                    </div>
                    <div class="col">
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="assets/imags.jpeg" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">Nkongsamba</h5>
                                        <p class="card-text">Située près du Bonamoussadi</p>
                                    </div>
                                </div>
                
                            </div>
        </div>
        <hr>
    </div>