<nav class="nav">

  <ul class="menu">
    <li class="menu-item"><a routerLink="/wall">Accueil</a></li>
    <li class="menu-item"><a routerLink="/catalogue">Catalogue</a></li>
    <li class="menu-item has-children"><a routerLink="/conseil">points de vente <span
          class="dropdown-icon"></span></a>
      <ul class="sub-menu">
        <li class="menu-item"><a routerLink="">Europe</a></li>
        <li class="menu-item"><a routerLink="">Asie</a></li>
        <li class="menu-item has-children"><a href="">Afrique <span class="dropdown-icon"></span></a>
          <ul class="sub-menu">
            <li class="menu-item"><a routerLink="">Cameroun</a></li>
            <li class="menu-item"><a href="">Cote d'ivoire</a></li>
            <li class="menu-item"><a href="">Congo</a></li>
            <li class="menu-item"><a href="">Gabon</a></li>
          </ul>
        </li>

      </ul>
    </li>
    <li class="menu-item"><a href="wall/galerie">Galerie</a></li>
    <li class="menu-item"><a href="wall/contact">Contact</a></li>
  </ul>
</nav>

<div class="tcontainer">
  <div class="ticker-wrap">
    <div class="ticker-move">
      <div class="ticker-item">L’attachement à notre culture </div>
      <div class="ticker-item">nous a permis de bâtir un empire.</div>
    </div>
  </div>
</div>