

    <section class="caroussel">
        <div class="container">
            <h2>
                NOTRE CATOLOGUE</h2>
            <div class="grid">
                <div class="card card-body">
                    <div class="row">
                        <div class="col-sm">   
                                <div id = "animated-example" class = "animateds bounceInUp">
                                        <img src="assets/mi4.jpeg" style="width: 500px; height: 250px;">
                                </div>
                        </div>
                        <div class="col-sm">
                            <div id="animated-example" class="animated bounceInRight">
                               <h2>PUREE DE PIMENT HACHE</h2>
                                <p>Notre purée hachée et celle écrasée ont la mème recette, seule la texture vraie.
                                        Fait à base d'épices sélectionnés d'afrique, ces sauces piquantes africaines conçues
                                        par nos spécialistes sont une vraie révolution.
                                        Accompagnez la d'une cuisse de poulet,
                                    un morceau de viande,etc vous serez émerveillé.     </div>
                        </div>
                    </div>
                </div>

                <div class="card card-body">
                    <div class="row">
                            <div class="col-sm">   
                                    <div id = "animated-example" class = "animateds bounceInUp">
                                            <img src="assets/mo98.jpeg" style="width: 500px; height: 250px;">
                                    </div>
                            </div>
                        <div class="col-sm">
                            <div id="animated-example" class="animated bounceInRight">
                                <p>
                                    Parce que le partage est une valeur de l’Afrique, nous avons mis à votre
                                    disposition le format de 100 ml pour savourer en famille ou avec des amis des
                                    moments gastronomiques inoubliables. Aussi pratique que facile à utiliser, sa
                                    conservation est durable. La « qualité » reste coeur de notre engagement
                                    vis-à-vis de nos consommateurs. C’est pourquoi […]</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-body">
                        <div class="row">
                                <div class="col-sm">   
                                        <div id = "animated-example" class = "animateds bounceInUp">
                                                <img src="assets/mi3.jpeg" style="width: 500px; height: 250px;">
                                        </div>
                                </div>
                            <div class="col-sm">
                                <div id="animated-example" class="animated bounceInRight">
                                        <h2>GRAND FORMAT</h2>
                                    <p>
                                            Le format de 100ml est idéal pour partager des moments gastronomiques inoubliables en familles ou avec des ami(e)s
                                            .Comme le 20ml, il est doté d'une pipette pour dosage à compte gouttes.
                                        </div>
                            </div>
                        </div>
                    </div>
                    <div class="card card-body">
                        <div class="row">
                                <div class="col-sm">   
                                        <div id = "animated-example" class = "animateds bounceInUp">
                                                <img src="assets/dt.jpg" style="width: 500px; height: 250px;">
                                        </div>
                                </div>
                            <div class="col-sm">
                                <div id="animated-example" class="animated bounceInRight">
                                        <h2>GRAND FORMAT</h2>
                                    <p>
                                            Le format de 100ml est idéal pour partager des moments gastronomiques inoubliables en familles ou avec des ami(e)s
                                            .Comme le 20ml, il est doté d'une pipette pour dosage à compte gouttes.
                                        </div>
                            </div>
                        </div>
                    </div>
                    <div class="card card-body">
                            <div class="row">
                                    <div class="col-sm">   
                                            <div id = "animated-example" class = "animateds bounceInUp">
                                                    <img src="assets/ws.jpeg" style="width: 500px; height: 250px;">
                                            </div>
                                    </div>
                                <div class="col-sm">
                                    <div id="animated-example" class="animated bounceInRight">
                                            <h2>PETIT FORMAT</h2>
                                        <p>
                                        Facile à emporter, ce format de 20ml vous permet de rechausser 
                                        le goùt de vos plats partout où vous vous trouvez.    
                                        </div>
                                </div>
                            </div>
                        </div>
                        <div class="card card-body">
                                <div class="row">
                                        <div class="col-sm">   
                                                <div id = "animated-example" class = "animateds bounceInUp">
                                                        <img src="assets/one.jpeg" style="width: 500px; height: 250px;">
                                                </div>
                                        </div>
                                    <div class="col-sm">
                                        <div id="animated-example" class="animated bounceInRight">
                                                <h2>PETIT FORMAT</h2>
                                            <p>
                                            Facile à emporter, ce format de 20ml vous permet de rechausser 
                                            le goùt de vos plats partout où vous vous trouvez.    
                                            </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card card-body">
                                    <div class="row">
                                            <div class="col-sm">   
                                                    <div id = "animated-example" class = "animateds bounceInUp">
                                                            <img src="assets/mi11.jpeg" style="width: 500px; height: 250px;">
                                                    </div>
                                            </div>
                                        <div class="col-sm">
                                            <div id="animated-example" class="animated bounceInRight">
                                                    <h2>MONODOSE</h2>
                                                <p>
                                                        Une façon plus esthétique et hygiénique de consommation
                                                         du piment s’offre à vous : 
                                                         le format mono dose. Destiné au secteur de la restauration notamment au niveau des Compagnies aérienne, maritime, ferroviaire et terrestre, Hôtels, fast-foods et des ménages, une vraie innovation. Fait à base de polyéthylène, la matière de ce conditionnement est non toxique à usage alimentaire ; de quoi mettre tout souci de sécurité alimentaire de côté.</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="card card-body">
                        <div class="row">
                                <div class="col-sm">   
                                        <div id = "animated-example" class = "animateds bounceInUp">
                                                <img src="assets/mi3.jpeg" style="width: 500px; height: 250px;">
                                        </div>
                                </div>
                            <div class="col-sm">
                                <div id="animated-example" class="animated bounceInRight">
                                        <h2>GRAND FORMAT</h2>
                                    <p>
                                            Le format de 100ml est idéal pour partager des moments gastronomiques inoubliables en familles ou avec des ami(e)s
                                            .Comme le 20ml, il est doté d'une pipette pour dosage à compte gouttes.
                                        </div>
                            </div>
                        </div>
                        <div class="card card-body">
                                <div class="row">
                                        <div class="col-sm">   
                                                <div id = "animated-example" class = "animateds bounceInUp">
                                                        <img src="assets/dc.jpg" style="width: 500px; height: 250px;">
                                                </div>
                                        </div>
                                    <div class="col-sm">
                                        <div id="animated-example" class="animated bounceInRight">
                                                <h2>MONODOSE</h2>
                                            <p>
                                                    Une façon plus esthétique et hygiénique de consommation
                                                     du piment s’offre à vous : 
                                                     le format mono dose. Destiné au secteur de la restauration notamment au niveau des Compagnies aérienne, maritime, ferroviaire et terrestre, Hôtels, fast-foods et des ménages, une vraie innovation. Fait à base de polyéthylène, la matière de ce conditionnement est non toxique à usage alimentaire ; de quoi mettre tout souci de sécurité alimentaire de côté.</div>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="card card-body">
                        <div class="row">
                                <div class="col-sm">   
                                        <div id = "animated-example" class = "animateds bounceInUp">
                                                <img src="assets/wt.jpeg" style="width: 500px; height: 250px;">
                                        </div>
                                </div>
                            <div class="col-sm">
                                <div id="animated-example" class="animated bounceInRight">
                                        <h2>GRAND FORMAT</h2>
                                    <p>
                                            Le format de 100ml est idéal pour partager des moments gastronomiques inoubliables en familles ou avec des ami(e)s
                                            .Comme le 20ml, il est doté d'une pipette pour dosage à compte gouttes.
                                        </div>
                            </div>
                        </div>
                    </div>
                    <div class="card card-body">
                        <div class="row">
                                <div class="col-sm">   
                                        <div id = "animated-example" class = "animateds bounceInUp">
                                                <img src="assets/dc.jpg" style="width: 500px; height: 250px;">
                                        </div>
                                </div>
                            <div class="col-sm">
                                <div id="animated-example" class="animated bounceInRight">
                                        <h2>GRAND FORMAT</h2>
                                    <p>
                                            Le format de 100ml est idéal pour partager des moments gastronomiques inoubliables en familles ou avec des ami(e)s
                                            .Comme le 20ml, il est doté d'une pipette pour dosage à compte gouttes.
                                        </div>
                            </div>
                        </div>
                    </div>
                <div class="card card-body">
                    <div class="row">
                            <div class="col-sm">   
                                    <div id = "animated-example" class = "animateds bounceInUp">
                                            <img src="assets/mi13.jpeg" style="width: 500px; height: 250px;">
                                    </div>
                            </div>
                        <div class="col-sm">
                            <div id="animated-example" class="animated bounceInRight">
                                    <h2>PETIT FORMAT</h2>
                                <p>
                                Facile à emporter, ce format de 20ml vous permet de rechausser 
                                le goùt de vos plats partout où vous vous trouvez.    
                                </div>
                        </div>
                    </div>
                </div>
                <div class="card card-body">
                        <div class="row">
                                <div class="col-sm">   
                                        <div id = "animated-example" class = "animateds bounceInUp">
                                                <img src="assets/mi3.jpeg" style="width: 500px; height: 250px;">
                                        </div>
                                </div>
                            <div class="col-sm">
                                <div id="animated-example" class="animated bounceInRight">
                                        <h2>PETIT FORMAT</h2>
                                    <p>
                                    Facile à emporter, ce format de 20ml vous permet de rechausser 
                                    le goùt de vos plats partout où vous vous trouvez.    
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="card card-body">
                            <div class="row">
                                    <div class="col-sm">   
                                            <div id = "animated-example" class = "animateds bounceInUp">
                                                    <img src="assets/lo9.jpeg" style="width: 500px; height: 250px;">
                                            </div>
                                    </div>
                                <div class="col-sm">
                                    <div id="animated-example" class="animated bounceInRight">
                                            <h2>FLACON : 20ml</h2>
                                        <p>
                                                Consommer des aliments aussi délicats comme le piment hors de chez soi et avoir des troubles digestifs est un phénomène assez récurent surtout dans des lieux publics. Le flacon de 20 ml se glisse facilement dans votre sac et offre la possibilité de l’emporter partout. Constitué d’un embout en pipette, il permet de contrôler le dosage du piment et sa capsule de protection permet de réduire les risques de manipulation de nos enfants curieux.</div>
                                </div>
                            </div>
                        </div>
                        <div class="card card-body">
                                <div class="row">
                                        <div class="col-sm">   
                                                <div id = "animated-example" class = "animateds bounceInUp">
                                                        <img src="assets/loc.jpeg" style="width: 500px; height: 250px;">
                                                </div>
                                        </div>
                                    <div class="col-sm">
                                        <div id="animated-example" class="animated bounceInRight">
                                                <h2>FLACON : 100ml</h2>
                                            <p>
                                                    Parce que le partage est une valeur de l’Afrique, nous avons mis à votre disposition le format de 100 ml pour savourer en famille ou avec des amis des moments gastronomiques inoubliables. Aussi pratique que facile à utiliser, sa conservation est durable. La « qualité » reste coeur de notre engagement vis-à-vis de nos consommateurs. C’est pourquoi nous veillons toujours à utiliser des conditionnements adéquats pour la conservation des aliments. Ainsi,
                                                    nos flacons sont conçus à base Polytéréphtalate d’Ethylène (PET) conventionnellement .</div>
                                    </div>
                                </div>
                            </div>
                    <div class="card card-body">
                            <div class="row">
                                    <div class="col-sm">   
                                            <div id = "animated-example" class = "animateds bounceInUp">
                                                    <img src="assets/mo.jpeg" style="width: 500px; height: 250px;">
                                            </div>
                                    </div>
                                <div class="col-sm">
                                    <div id="animated-example" class="animated bounceInRight">
                                            <h2>PETIT FORMAT</h2>
                                        <p>
                                        Facile à emporter, ce format de 20ml vous permet de rechausser 
                                        le goùt de vos plats partout où vous vous trouvez.    
                                        </div>
                                </div>
                            </div>
                        </div>
                        <div class="card card-body">
                                <div class="row">
                                        <div class="col-sm">   
                                                <div id = "animated-example" class = "animateds bounceInUp">
                                                        <img src="assets/moi.jpeg" style="width: 500px; height: 250px;">
                                                </div>
                                        </div>
                                    <div class="col-sm">
                                        <div id="animated-example" class="animated bounceInRight">
                                                <h2>PETIT FORMAT</h2>
                                            <p>
                                                    Consommer des aliments aussi délicats comme le piment hors de chez soi et avoir des troubles digestifs est un phénomène assez récurent surtout dans des lieux publics. Le flacon de 20 ml se glisse facilement dans votre sac et offre la possibilité de l’emporter partout. 
                                                    Constitué d’un embout en pipette, il permet de contrôler le […] </div>
                                    </div>
                                </div>
                            </div>
                <div class="card card-body">
                    <div class="row">
                            <div class="col-sm">   
                                    <div id = "animated-example" class = "animateds bounceInUp">
                                            <img src="assets/three.jpeg" style="width: 500px; height: 250px;">
                                    </div>
                            </div>
                        <div class="col-sm">
                            <div id="animated-example" class="animated bounceInRight">
                                    <h2>GRAND MODEL</h2>
                                <p>
                                    Parce que le partage est une valeur de l’Afrique, nous avons mis à votre
                                    disposition le format de 100 ml pour savourer en famille ou avec des amis des
                                    moments gastronomiques inoubliables. Aussi pratique que facile à utiliser, sa
                                    conservation est durable. La « qualité » reste coeur de notre engagement
                                    vis-à-vis de nos consommateurs. C’est pourquoi […]</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

   