<section id="text">
  <div class="containerx" style=" background-color: aquamarine">
    <h2>Vous trouverez ici un aperçu de ce que nous faisons et quelques
      projets sur lesquels nous avons travaillé.</h2>
  </div>
</section>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <img src="assets/one.jpeg" style="width: 380px; height: 200px; " class="img-fluid"></div>
    <div class="col">
      <img src="assets/mi19.jpeg" style="width: 380px; height: 200px; " class="img-fluid"></div>
    <div class="col">
      <img src="assets/mi1.jpeg" style="width: 380px; height: 200px; " class="img-fluid"></div>
    <div class="col">
      <img src="assets/two.jpeg" style="width: 380px; height: 200px; " class="img-fluid"></div>
    <div class="col">
      <img src="assets/mi2.jpeg" style="width: 380px; height: 200px; " class="img-fluid"></div>
  </div>
  <hr>
  <div class="row">
    <div class="col">
      <img src="assets/loc.jpeg" style="width: 350px; height: 250px; " class="img-fluid"></div>
    <div class="col">
      <img src="assets/three.jpeg" style="width: 380px; height: 250px; " class="img-fluid"></div>
    <div class="col">
      <img src="assets/mi11.jpeg" style="width: 380px; height: 250px; " class="img-fluid">
    </div>
    <div class="col">
      <img src="assets/moi.jpeg" style="width: 380px; height: 250px; " class="img-fluid"></div>
    <div class="col">
      <img src="assets/lo9.jpeg" style="width: 380px; height: 250px; " class="img-fluid"></div>
  </div>
  <hr>
  <div class="row">
    <div class="col">
      <img src="assets/lo9.jpeg" style="width: 380px; height: 200px; " class="img-fluid"></div>
    <div class="col">
      <img src="assets/three.jpeg" style="width: 380px; height: 200px; " class="img-fluid"></div>
    <div class="col">
      <img src="assets/one.jpeg" style="width: 380px; height: 200px; " class="img-fluid"></div>
    <div class="col">
      <img src="assets/two.jpeg" style="width: 380px; height: 200px; " class="img-fluid"></div>
    <div class="col">
      <img src="assets/mo.jpeg" style="width: 380px; height: 200px; " class="img-fluid"></div>
  </div>
  <hr>
  <div class="row">
    <div class="col">
      <img src="assets/mo4.jpeg" style="width: 380px; height: 200px; " class="img-fluid"></div>
    <div class="col">
      <img src="assets/three.jpeg" style="width: 380px; height: 200px; " class="img-fluid"></div>
    <div class="col">
      <img src="assets/fla.jpg" style="width: 380px; height: 200px; " class="img-fluid"></div>
    <div class="col">
      <img src="assets/floc.jpg" style="width: 180px; height: 200px; " class="img-fluid"></div>
    <div class="col">
      <img src="assets/flacon.jpeg" style="width: 380px; height: 200px; " class="img-fluid"></div>
  </div>
  <hr>
</div>
