

    <section class="cat">
              
    <div class="container-fluid">
            <div class="row">
    
                    <div class="col">
                        <img src="assets/rt5.jpeg" style="width: 200px; " class="img-fluid">
                    
                    </div>
                    
                    <div class="col">
                        <img src="assets/rz.jpeg" style="width: 200px; "  class="img-fluid">
                    </div>
                    <div class="col">
                        <img src="assets/rs2.jpeg" style="width: 200px; "  class="img-fluid">
                    </div>
                    <div class="col">
                        <img src="assets/rt6.jpeg" style="width: 130px; " class="img-fluid">
                    </div>
                    
                    <div class="col">
                        <img src="assets/rt9.jpeg" style="width: 200px; "  class="img-fluid">
                    </div>
                </div>
               </div> 
    </section>

    <section class="products">
        <div class="container">
            <h2>Nos produits</h2>
        </div>
        <div class="container" id="container">
            <div class="box">
                <div class="imgBox">
                    <img src="assets/mi2.jpeg"></div>
                    <div class="details">
                        <div class="content">
                            <h2>Géllules</h2>
                            <p>
                            Ce format monodose 1ml est très prisé dans les 
                            compagnies aériennes , maritimes,férroviaires 
                            et terrestres,hotels,fast-foods,Hygiénique et esthétique, c'est une vrai innovation.   
                            </p>
                        </div>
                    </div>
                </div>
                <div class="box">

                    <div class="imgBox">
                        <img src="assets/mo4.jpeg"></div>
                        <div class="details">
                            <div class="content">
                                <h2>Géllules</h2>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. totam aperiam
                                    voluptatum, explicabo amet veniam?
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="box">

                        <div class="imgBox">
                            <img src="assets/two.jpeg"></div>
                            <div class="details">
                                <div class="content">
                                    <h2>Géllules</h2>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. totam aperiam
                                        voluptatum, explicabo amet veniam?
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="box">

                            <div class="imgBox">
                                <img src="assets/mi11.jpeg"></div>
                                <div class="details">
                                    <div class="content">
                                        <h2>MONODOSE</h2>
                                        <p>Une façon plus esthétique et
                                             hygiénique de consommation du piment s’offre à vous et non toxique à usage alimentaire ; 
                                             de quoi mettre tout souci de sécurité alimentaire de côté.
                                            </p>
                                    </div>
                                </div>
                            </div>
                            <div class="box">

                                <div class="imgBox">
                                    <img src="assets/mi1.jpeg"></div>
                                    <div class="details">
                                        <div class="content">
                                            <h2>PUREE DE PIMENT HACHEE</h2>
                                            <p>
                                             Notre purée hachée et celle écrasée ont la mème recette.
                                                    Fait à base d'épices sélectionnées d'afrique.
                                               </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="box">

                                    <div class="imgBox">
                                        <img src="assets/mi3.jpeg"></div>
                                        <div class="details">
                                            <div class="content">
                                                <h2>FORMAT 100ml</h2>
                                                <p>
                                                    Le format de 100ml est idéal pour partager des moments gastronomiques inoubliables en familles ou avec des ami(e)s
                                                    .il est doté d'une pipette pour dosage à compte gouttes.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>

                            <section class="load">
                                <div class="container">
                                    <h2>Produits à venir ...</h2>
                                    <div class="card card-body">
                                        <div class="row">
                                            <div class="loading">
                                                <div class="ball"></div>
                                                Wait...
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>

                            <section class="foot">
                                <footer>
                                    <div class="footer-top">
                                
                                           <div class="row">
                                               <div class="col-md-3 col-sm-6 col-xs-12 segment-one md-mb-30 sm-mb-30">
                                                   <img src="assets/logo.png" >
                                                  </div>
                                
                                               <div class="col-md-3 col-sm-6 col-xs-12 segment-two md-mb-30 sm-mb-30">
                                                   <h2>Links</h2>
                                                   <ul>
                                                       <li><a href="wall">Accueil</a></li>
                                                       <li><a href="wall/catalogue">Catalogue</a></li>
                                                       <li><a href="#">Points de vente</a></li>
                                                       <li><a href="#">Galérie</a></li>
                                                       <li><a href="#">Contact</a></li>
                                                   </ul>
                                                 </div>
                                               <div class="col-md-3 col-sm-6 col-xs-12 segment-three sm-mb-30">
                                                 <h2>Follow Us</h2>
                                                   <p>Please Follow us on our social Media Profile in order to
                                                   keep updated.</p>
                                                  
                                                   
                                               </div>
                                               <div class="col-md-3 col-sm-6 col-xs-12 segment-four sm-mb-30">
                                                   <h2>Our Newletter</h2>
                                                   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci animi doloribus est, exercitationem explicabo illo impedit libero modi odit omnis placeat quaerat quas, quis, rem saepe soluta ullam vel!</p>
                                             <form action="">
                                                 <input type="email">
                                                 <input type="submit" value="subscribe">
                                             </form>
                                               </div>
                                           </div>
                                       </div>
                                
                                    <p class="footer-bottom-text">All Right reserved by &copy;Yogue.2019</p>
                                </footer>                                
                            </section>  